 //Tipografías

$mainFont: 'Lato', sans-serif;

//Font Size
$fontSize: 16px;

//Font Size Variables
$textLg:2rem;
$textMd:1.4rem;
$textSm:1rem;

//Weights Fonts
$textLight:300;
$textRegular:400;
$textBold:600;
$textBlack:700;


//Line Height
$lineHeight:1.7;
